# General
alias cs='clear;ls'
alias lsa='ls -a'
alias lsl='ls -l'
alias lsla='ls -l -a'
alias t='time'
alias root='cd /'
alias ..='cd ..'
alias ...='cd ..; cd ..'
alias ....='cd ..; cd ..; cd ..'
alias fresh='exec "$SHELL"'
alias da='direnv allow .'
alias trs='tr -d "[:space:]"'

# python
alias dj='python manage.py'

{{- if eq .dev_level 1 }}
# k8s
alias k=kubectl
{{- end}}

# chezmoi
alias cm='chezmoi'
{{ if eq .chezmoi.os "darwin" }}
# Mac stuff
alias ql='qlmanage -p'
alias up='softwareupdate'
alias nq='networkQuality'
alias oe='open -a emacs'
{{- end }}
{{ if (and (eq .hostowner "work") (eq .hosttype "pc")) }}
# Work stuff
# alias kubectl="minikube kubectl --"
alias tf='terraform'
{{- end }}
