# General
alias fresh='exec "$SHELL"'
alias q='exit'
alias c='clear'
alias h='history'
alias cs='clear;ls'
alias p='cat'
alias pd='pwd'
alias lsa='ls -a'
alias lsl='ls -l'
alias lsla='ls -l -a'
alias pd='pwd'
alias t='time'
alias k='kill'
alias home='cd ~'
alias root='cd /'
alias o=open
alias ..='cd ..'
alias ...='cd ..; cd ..'
alias ....='cd ..; cd ..; cd ..'
alias vimrc='vim ~/.vimrc'
alias zshrc='vim ~/.zshrc'
alias fresh='exec "$SHELL"'
alias config='/usr/bin/git --git-dir=$HOME/.myconf/ --work-tree=$HOME'

# python
alias dj='python manage.py'
alias pipemacs='pip install -r $HOME/.doom.d/requirements-emacs.txt'

# chezmoi
alias cm='chezmoi'

{{ if eq .chezmoi.os "darwin" }}
# Mac stuff
alias ql='qlmanage -p'
{{ end }}

{{ if (and (eq .hostowner "work") (eq .hosttype "pc")) }}
# Work stuff
alias tunnel='~/Documents/projects/ap-advanced-analytics/tools/command-line-utils/ssh-tunnel/ssh_tunnel.sh'
alias kdrive='open smb://crossix.local/data/'
alias aarepo='~/Documents/projects/ap-advanced-analytics/'
{{ end }}
