{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $hostowner := promptStringOnce . "hostowner" "Machine owner [personal|work]" -}}
{{- $hosttype := promptStringOnce . "hosttype" "Machine type [pc|server]" -}}
{{- $gitgpg := promptStringOnce . "gitgpg" "GitHub GPG signing key" -}}
{{- $computername := .chezmoi.hostname }}
{{- if (eq .chezmoi.os "darwin") }}
{{-   $computername = output "scutil" "--get" "ComputerName" | trim }}
{{- end -}}
{{- $org_directory := promptStringOnce . "org_directory" "Org directory" }}
{{- $emacsdiarycals := promptStringOnce . "emacsdiarycals" "Emacs diary cals"}}

[data]
    email = {{ $email | quote }}
    hostowner = {{ $hostowner | quote }}
    hosttype = {{ $hosttype | quote }}
    gitgpg = {{ $gitgpg | quote }}
    computername = {{ $computername | quote }}
    org_directory = {{ $org_directory | quote }}
    emacsdiarycals = {{ $emacsdiarycals | quote }}
