# Taps
tap "eth-p/software"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"
{{- if (and (eq .chezmoi.os "darwin") (eq .hostowner "personal")) }}
tap "ngrok/ngrok"
tap "railwaycat/emacsmacport"
tap "twilio/brew"
{{- end}}

# Packages
brew "bat"
brew "xz"
brew "glib"
brew "chezmoi"
brew "cmake"
brew "coreutils"
brew "fd"
brew "unbound"
brew "gnutls"
brew "harfbuzz"
brew "ffmpeg"
brew "findutils"
brew "gh"
brew "gnupg"
brew "pango"
brew "librsvg"
brew "graphviz"
brew "htop"
brew "openssl@3"
brew "pinentry-mac"
brew "python@3.10"
brew "pipx"
brew "podman"
brew "pre-commit"
brew "pyenv"
brew "pyenv-virtualenv"
brew "ripgrep"
brew "shellcheck"
brew "smartmontools"
brew "subversion"
brew "tmux"
brew "tree"
brew "zlib"
brew "zsh-syntax-highlighting"
brew "railwaycat/emacsmacport/emacs-mac", args: ["with-native-comp", "without-modules"]
{{- if (and (eq .chezmoi.os "darwin") (eq .hostowner "personal")) }}
brew "minimal-racket"
brew "twilio/brew/twilio"
{{ else if eq .hostowner "work" }}
brew "gimme-aws-creds"
{{- end }}

# Casks
cask "font-ibm-plex-serif"
cask "font-source-code-pro"
{{- if (and (eq .chezmoi.os "darwin") (eq .hostowner "personal")) }}
cask "ngrok"
{{- end}}
