{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
# Taps
tap "eth-p/software"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"
tap "railwaycat/emacsmacport"
{{- if eq .hostowner "personal" }}
tap "ngrok/ngrok"
{{- else if eq .hostowner "work"}}
tap "hashicorp/tap"
{{- end}}

# Packages
brew "bat"
brew "chezmoi"
brew "cmake"
brew "colima"
brew "cookiecutter"
brew "coreutils"
brew "direnv"
brew "docker"
brew "docker-compose"
brew "fd"
brew "ffmpeg"
brew "findutils"
brew "fontconfig"
brew "fzf"
brew "gawk"                 # a better awk
brew "gcc"
brew "gdb"                  # emacs debugger
brew "gh"
brew "git"
brew "git-filter-repo"
brew "glib"
brew "gnupg"
brew "gnutls"
brew "graphviz"
brew "grip"
brew "harfbuzz"
brew "helm"
brew "helmfile"
brew "htop"
brew "jq"                   # json processor
brew "just"                 # just a command runner
brew "kubectl"
brew "librsvg"
brew "libvterm"             # requirement for vterm
brew "nmap"
brew "openssl@3"
brew "pandoc"
brew "pango"
brew "pinentry-mac"
brew "pipx"
brew "pgcli"
brew "python@3.10"
brew "unbound"
brew "xz"
brew "podman"
brew "pre-commit"
brew "pv"
brew "pyenv"
brew "pyenv-virtualenv"
brew "qemu"
brew "ripgrep"
brew "shellcheck"
brew "smartmontools"
brew "subversion"
brew "telnet"
brew "tmux"
brew "tree"
brew "wget"
brew "yaml-language-server"
brew "z"
brew "zlib"
brew "zsh-autosuggestions"
brew "zsh-syntax-highlighting"
brew "eth-p/software/bat-extras"
brew "railwaycat/emacsmacport/emacs-mac", args: ["with-native-comp", "without-modules", "with-dbus", "with-emacs-big-sur-icon"]
{{- if eq .hostowner "personal" }}
brew "hut"
brew "minimal-racket"
brew "twilio/brew/twilio"
{{- else if eq .hostowner "work" }}
brew "awscli"
brew "csvkit"
brew "dos2unix"
brew "gimme-aws-creds"
brew "lastpass-cli"
brew "minikube"
brew "notmuch"
brew "postgresql@12", restart_service: true
brew "pre-commit"
brew "r"
brew "sphinx-doc"
brew "terraform-docs"
brew "terrascan"
brew "tflint"
brew "tfsec"
brew "hashicorp/tap/terraform"
brew "hashicorp/tap/terraform-ls"
{{- end }}

# Casks
cask "dbeaver-community"
cask "firefox"
cask "font-ibm-plex-serif"
cask "font-source-code-pro"
cask "iterm2"
cask "wkhtmltopdf"
{{- if eq .hostowner "personal" }}
cask "1password/tap/1password-cli"
cask "discord"
cask "ngrok"
{{- else if eq .hostowner "work" }}
cask "amazon-workspaces"
cask "lastpass"
cask "openvpn-connect"
cask "pgadmin4"
cask "rstudio"
cask "slack"
{{- end}}
EOF
{{ end -}}
